<launch>
    <node pkg="get_camera" name="pointgrey_cam_puber" type="ros_driver_pointgrey_camera.py" respawn="true"/>
    <node pkg="tracker" name="visual_detection" type="tracker_pointgrey.py" respawn="true" output="screen"/>
    <node pkg="get_camera" name="gmsl2_cam_puber" type="ros_driver_gmsl2_camera.py" respawn="true"/>
</launch>